@import "./textstyles";
@import "./colors";

.btn {
  font-family: $font-main;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 1.5vw;
  background-color: $primaryaccent-yellow;
  color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw 3vw;
  border: none;
  cursor: pointer;
  transition: all 200ms ease;

  &:hover {
    background-color: $button-hover;
  }
}

.btn-nav {
  background-color: $white;
  color: $primary-color;
}
