@import "../sassStyles/main";

.btn {
  @include give-flex-row(center, center);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  background-color: $primaryaccent-yellow;
  padding: 1vw 3vw;
  border: none;
  cursor: pointer;
  transition: all 200ms ease;

  &:hover {
    background-color: $button-hover;
  }
}

.btn-nav {
  background-color: $white;
  color: $primary-color;
}
