@import "../sassStyles/main";

.footer {
  background-color: $primary-color;
  color: $white;
  display: flex;
  flex-direction: column;
  padding: 60px 80px;

  .footer-top {
    @include give-flex-row(center, space-between);
  }

  .subscribe {
    @include h2;
    @include give-flex-row(baseline, space-between);
    gap: 1.5vw;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 3.75vw 0 3vw 0;
    padding: 5vw 4vw;

    p {
      letter-spacing: -2px;
      width: 592px;
    }

    .hero-box {
      @include give-flex-row(stretch, center);

      .input-email {
        @include text-primary;
        display: flex;
        align-items: center;
        background-color: transparent;
        color: $bgaccent-grey;
        width: 15vw;
        padding: 0.75vw 1.5vw;
        margin: 0 1.5vw 0 4vw;
        border: 1px solid $bglight;
      }
    }
  }

  .footer-bottom {
    color: $white;
    opacity: 0.7;
    display: flex;
    flex-direction: column;

    p {
      @include text-primary;
    }

    div {
      @include give-flex-row(baseline, space-between);
    }
  }
}
