@import "./textstyles";
@import "./colors";

.featured-post-wrapper {
  font-family: $font-main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 80px;

  .featured-post-header {
    @include h2;
    margin-bottom: 32px;
    letter-spacing: -2px;
  }
  .featured-post-inner {
    background-color: rgba(229, 229, 229, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgba(109, 110, 118, 0.1);
    padding: 32px;

    .post-image {
      width: 100%;
      margin-bottom: 32px;
    }

    p {
      @include text-label;
      font-weight: 500;
      margin-bottom: 16px;
      span {
        color: $primaryaccent-yellow;
      }
    }

    .title {
      @include h3;
      margin-bottom: 16px;
    }

    .description {
      @include text-primary;
      font-weight: 400px;
      color: $bgaccent-grey;
      margin-bottom: 32px;
    }
  }
}
