@import "../sassStyles/main";

.join-us {
  @include give-flex-column(center, center);
  margin: 8vw 5vw;
  width: 30%;
  text-align: center;
  align-self: center;

  h2 {
    @include h2;
    letter-spacing: -2px;
    margin-bottom: 1vw;
  }

  p {
    @include text-primary;
    color: $bgaccent-grey;
    margin-bottom: 2vw;
  }
}
