@import "./textstyles";
@import "./colors";

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 40px;
    filter: brightness(0) invert(1);
    margin-right: 12px;
  }

  span {
    @include h5;
  }
}
