@import "../sassStyles/main";

.logo-container {
  @include give-flex-row(center, center);

  img {
    width: 40px;
    filter: brightness(0) invert(1);
    margin-right: 0.75vw;
  }

  span {
    @include h5;
  }
}
