@import "./textstyles";
@import "./colors";

.header {
  font-family: $font-main;
  background-color: $primary-color;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 80px;

  .nav-block {
    display: flex;
    align-items: center;
    justify-content: center;

    .nav {
      li:last-child {
        display: none;
      }
    }

    .btn-nav {
      margin-left: 32px;
    }
  }
}
