@import "../sassStyles/main";

#footer-menu {
  @include give-flex-row(center, center);
}

.nav {
  @include text-primary;
  @include give-flex-row(center, center);

  .nav-link {
    position: relative;
    margin: 0 0.75vw;
    cursor: pointer;
  }

  .nav-link::before {
    content: "";
    position: absolute;
    transition: 250ms;
    height: 2px;
    left: 50%;
    background-color: $white;
    transition: all 250ms ease;
  }

  .nav-link-underline::before {
    width: 0%;
    bottom: -4px;
  }

  .nav-link-underline:hover::before {
    width: 100%;
    left: 0;
  }
}

.icon {
  display: none;
  background: transparent;
  position: absolute;
  top: 35%;
  right: 5vw;
  z-index: 5;
  width: fit-content;
  height: 44px;
  cursor: pointer;

  .hamburguer {
    top: 50%;
    transform: translateY(-50%);
    right: 2vw;
    width: 37px;
    height: 6px;
    background: transparent;
    background-color: $white;
    position: absolute;
    transition: all 250ms ease;
    top: 1vw;

    &::before {
      top: -12px;
      content: "";
      position: absolute;
      width: 37px;
      height: 6px;
      background-color: $white;
    }

    &::after {
      top: 12px;
      content: "";
      position: absolute;
      width: 37px;
      height: 6px;
      background-color: $white;
    }
  }
}

.icon-active {
  background: transparent;
  .hamburguer {
    &::after {
      top: 0;
      background-color: $white;
      transform: rotate(225deg);
    }
    &::before {
      top: 0;
      background-color: $white;
      transform: rotate(135deg);
    }
  }
}

.menu {
  position: absolute;
  margin-top: 30px;
  right: 0;
  background-color: $primary-color;

  .nav-burguer {
    @include give-flex-column(flex-end, center);
    padding: 2rem;
    padding-top: 2rem;
    height: 100%;
    li {
      margin: 3vw;
      cursor: pointer;
    }
  }
  .menu-close {
    display: none;
    width: 0px;
  }

  .menu-open {
    width: 30px;
  }
}

.hide {
  display: none;
}

#burguer-footer-hide {
  display: none;
}

//Tablet: 1200px
@media only screen and (max-width: $tablet) {
  .nav {
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

//Tablet-small: 768px
@media only screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .icon {
    display: block;
  }

  #btn-burguer {
    display: block;
  }
}
