@import "../sassStyles/main";

.socials {
  display: flex;
  gap: 1.875vw;

  a {
    .socials-icon {
      background-color: $bglight;
      width: 16px;
      height: 16px;
      border-radius: 25%;
      border: none;
      opacity: 0.6;
      transition: opacity 0.18s ease;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
