@import "../Components/textstyles";
@import "../Components/colors";

.contact-wrapper {
  font-family: $font-main;
  margin: 128px 336px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .contact-top {
    text-align: center;

    p:first-child {
      letter-spacing: 3px;
      font-weight: 900;
      font-size: 16px;
      line-height: 20px;
    }

    h1 {
      letter-spacing: -1px;
    }

    p:last-child {
      @include text-primary;
      color: $bgaccent-grey;
    }
  }

  .company-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $secondaryaccent-purple;
    margin-top: 64px;
    width: 100%;

    .inner-wrapper {
      margin: 48px 64px;
      width: 100%;
      align-self: baseline;

      .inner-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;

        p {
          @include text-secondary;
          color: $white;
          opacity: 0.6;
          padding-bottom: 16px;
        }
      }

      .info-details {
        color: $white;
        margin-top: 16px;
        h5 {
          @include h5;
        }
        p {
          @include text-primary;
          opacity: 0.6;
        }
      }
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    width: 100%;

    .input,
    select {
      @include text-primary;
      background-color: transparent;
      border-radius: 2px;
      border: 1px solid rgba(109, 110, 118, 0.5);
      padding: 24px;
    }
  }
  .btn-send-msg {
    @include h4;
    width: 100%;
    padding: 24px;
  }
}
