$primary-color: #232536;
$primaryaccent-yellow: #ffd050;
$secondaryaccent-purple: #592ea9;
$white: #ffffff;
$bglight: #4c4c4c;
$bgaccent-grey: #6d6e76;
$bgaccent-light-grey: #f4f4f4;
$bgaccent-lavander: #f4f0f8;
$bgaccent-light-yellow: #fbf6ea;
$button-hover: #edc14a;
