@import "../../sassStyles/main";

.author-container {
  @include give-flex-column(center, center);
  background-color: $bgaccent-light-grey;
  padding: 2.5rem;

  &:hover {
    background-color: $bgaccent-light-yellow;
  }

  .author-icon {
    width: 50%;
    border-radius: 50%;
    margin-bottom: 1.25vw;
  }

  .author-name {
    @include h3;
  }

  .author-position {
    @include text-secondary;
    text-align: center;
    color: $bgaccent-grey;
    margin-bottom: 1.25vw;
  }
}

@media only screen and (max-width: $mobile) {
  .author-container {
    padding: 2.5rem 0;
  }
}
