@import "../../sassStyles/main";

.caroussel-item {
  position: relative;
  color: $white;
  height: 720px;

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.carrousel-details {
  @include give-flex-column(flex-end, center);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  gap: 1.5rem;
  margin-right: 5vw;
  z-index: 0;

  .posted-on {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
  }

  .title {
    @include hero;
    letter-spacing: -2px;
    text-align: right;
  }

  .carrousel-author {
    @include text-primary;
    span {
      color: $primaryaccent-yellow;
    }
  }

  .description {
    @include text-primary;
    width: 60%;
    text-align: end;
  }
}
