@import "../../sassStyles/main";

.carousel {
  margin-bottom: 8vw;

  .inner-carousel {
    .carousel-buttons {
      @include give-flex-row(stretch, center);
      position: relative;
      gap: 4vw;
      margin: 0 1vw;

      .button-arrow {
        background: none;
        border: none;
        cursor: pointer;
        margin-top: 0.5vw;
        transition: all 200ms ease;

        &:hover {
          transform: scale(1.3);
        }
      }
      .indicators {
        @include give-flex-row(center, center);
        gap: 0.5vw;
        margin-top: 0.5vw;

        .indicator-buttons {
          border: none;
          cursor: pointer;
          background: none;
          transition: all 200ms ease;

          &:hover {
            transform: scale(1.2);
          }

          .indicators-symbol {
            color: $bgaccent-grey;
          }

          .indicators-symbol-active {
            color: $primary-color;
          }
        }
      }
    }
  }
}
