@import "../../sassStyles/main";

.carousel {
  width: 100%;
  margin-top: 60px;

  .inner-carousel {
    position: relative;
    .carousel-buttons {
      @include give-flex-row(center, center);

      .button-arrow {
        color: $primaryaccent-yellow;
        position: absolute;
        top: 45%;
        background: none;
        border: none;
        cursor: pointer;
        transition: all 200ms ease;

        span {
          font-size: 2vw;
        }

        &:hover {
          transform: scale(1.3);
        }
      }

      .prev-arrow {
        left: 1.5vw;
      }

      .next-arrow {
        right: 0.6vw;
      }

      .indicators {
        @include give-flex-row(center, center);
        position: absolute;
        bottom: 2vw;
        gap: 0.5vw;
        margin-top: 0.5vw;

        .indicator-buttons {
          border: none;
          cursor: pointer;
          background: none;
          transition: all 200ms ease;

          &:hover {
            transform: scale(1.2);
          }

          .indicators-symbol {
            color: $primaryaccent-yellow;
            filter: brightness(1.5);
            transition: all 250ms ease;
          }

          .indicators-symbol-active {
            color: $secondaryaccent-purple;
            transform: scale(1.3);
            filter: brightness(2);
          }
        }
      }
    }
  }
}
