@import "../../sassStyles/main";

.category-container {
  @include give-flex-row(stretch, center);
  gap: 2vw;

  .category-card-wrapper {
    @include give-flex-column(flex-start, stretch);
    width: 25%;
    padding: 2vw;
    border: 1px solid rgba(109, 110, 118, 0.3);
    transition: all 200ms ease;

    &:hover {
      background-color: $primaryaccent-yellow;
    }

    .category-icon {
      width: 3vw;
      margin-bottom: 1vw;
    }

    .category-title {
      @include h3;
      letter-spacing: -1px;
      margin-bottom: 0.25vw;
    }

    .category-description {
      @include text-primary;
      color: $bgaccent-grey;
    }
  }
}

.card-active {
  background-color: $primaryaccent-yellow;
  transform: scale(1.05);
}

.article-container {
  @include give-flex-row(center, center);
}
