@import "../../sassStyles/main";

.category-wrapper {
  @include give-flex-column(center, center);

  .choose-category {
    @include h2;
    margin-bottom: 3vw;
    text-align: center;
  }

  .category-container {
    @include give-flex-row(stretch, center);
    gap: 2vw;
    margin: 0 5vw;

    .category-card-wrapper {
      @include give-flex-column(stretch, stretch);
      padding: 2vw;
      border: 1px solid rgba(109, 110, 118, 0.3);
      cursor: pointer;
      transition: all 200ms ease;

      &:hover {
        background-color: $primaryaccent-yellow;
      }

      .category-icon {
        width: 3vw;
        margin-bottom: 1vw;
      }

      .category-title {
        @include h3;
        letter-spacing: -1px;
        margin-bottom: 0.25vw;
      }

      .category-description {
        @include text-primary;
        color: $bgaccent-grey;
      }
    }
  }
}

.card-active {
  background-color: $primaryaccent-yellow;
}
