@import "../../sassStyles/main";

.article-container {
  @include give-flex-row(flex-end, flex-start);
  position: relative;
  margin-top: 4vw;

  .article-img {
    width: 75%;
    height: 100%;
  }

  .article-details {
    @include give-flex-column(flex-start, flex-start);
    position: absolute;
    right: 0;
    background-color: $white;
    width: 40%;
    padding: 5rem;
    z-index: 3;

    .article-spec {
      font-size: 1rem;
      line-height: 1.25;
      font-weight: 600;
      letter-spacing: 3px;
      margin-bottom: 1.5vw;
    }

    .article-title {
      @include h1;
      letter-spacing: -2px;
      margin-bottom: 1vw;
    }

    .article-sumary {
      @include text-primary;
      color: $bgaccent-grey;
      margin-bottom: 2vw;
    }
  }
}

@media only screen and (max-width: $desktop) {
  .article-container {
    flex-direction: column;
    align-items: flex-start;

    .article-img {
      width: 100%;
    }

    .article-details {
      bottom: 0;
    }
  }
}

@media only screen and (max-width: $tablet) {
  .category-description {
    display: none;
  }

  .article-container {
    .article-details {
      position: relative;
      width: auto;
    }
  }
}
