@import "../../sassStyles/main";

.home-posts {
  display: grid;
  grid-template-columns: 55% 1fr;
  place-content: start;
  gap: 32px;
}

.join-us-app {
  @include give-flex-row(center, center);
}

.categories-wrapper {
  display: flex;
  margin: 5vw;
  gap: 2vw;
}
