@import "../../sassStyles/main";

.all-post-wrapper {
  font-family: $font-main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 80px;

  .all-post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    span:first-child {
      @include h2;
    }
    span:last-child {
      @include text-primary;
      align-self: flex-end;
    }
  }

  .all-post-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 32px;

    &:hover {
      background-color: $bgaccent-light-yellow;
    }

    p {
      @include text-label;
      font-weight: 500;
      margin-bottom: 8px;
      span {
        color: $secondaryaccent-purple;
      }
    }

    .all-post-title {
      @include h4;
    }
  }
}
