@import "../../sassStyles/main";

.featured-post-wrapper {
  @include give-flex-column(flex-start, stretch);
  margin-left: 5vw;

  .featured-post-header {
    @include h2;
    margin-bottom: 2vw;
    letter-spacing: -2px;
  }
  .featured-post-inner {
    @include give-flex-column(center, flex-start);
    background-color: rgba(229, 229, 229, 0.1);
    border: 1px solid rgba(109, 110, 118, 0.1);
    padding: 2rem;

    .post-image {
      width: 100%;
      margin-bottom: 2vw;
      height: 310px;
      object-fit: cover;
    }

    p {
      @include text-label;
      font-weight: 500;
      margin-bottom: 1vw;

      span {
        color: $primaryaccent-yellow;
      }
    }

    .title {
      @include h3;
      margin-bottom: 1vw;
    }

    .description {
      @include text-primary;
      font-weight: 400px;
      color: $bgaccent-grey;
      margin-bottom: 2vw;
    }
  }
}
