@import "../../sassStyles/main";

.home-container {
  @include give-flex-column(center, center);
  gap: 8vw;

  .home-posts {
    display: grid;
    grid-template-columns: 55% 1fr;
    place-content: start;
    gap: 32px;
  }

  .categories-wrapper {
    display: flex;
    margin: 5vw;
    gap: 2vw;
  }
}
