@import "../../sassStyles/main";

.all-post-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 5vw;

  .all-post-header {
    @include give-flex-row(center, space-between);
    margin-bottom: 2vw;

    .all-posts-inner-title {
      @include h2;
    }

    .view-all-link {
      @include text-primary;
      align-self: flex-end;
      cursor: pointer;

      &:hover {
        filter: drop-shadow(2px 2px 5px black);
      }
    }
  }

  .all-posts-scroll-container {
    height: 650px;
    scrollbar-width: none;
    overflow-y: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    .all-post-inner {
      @include give-flex-column(flex-start, center);
      padding: 2vw;
      cursor: pointer;

      &:hover {
        background-color: $bgaccent-light-yellow;
      }

      p {
        @include text-label;
        font-weight: 500;
        margin-bottom: 0.5vw;
        span {
          color: $secondaryaccent-purple;
        }
      }

      .all-post-title {
        @include h4;
      }
    }
  }
}
