@import "../../sassStyles/main";

.all-post-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 5vw;

  .all-post-header {
    @include give-flex-row(center, space-between);
    margin-bottom: 2vw;

    span:first-child {
      @include h2;
    }
    span:last-child {
      @include text-primary;
      align-self: flex-end;
    }
  }

  .all-post-inner {
    @include give-flex-column(flex-start, center);
    padding: 2vw;

    &:hover {
      background-color: $bgaccent-light-yellow;
    }

    p {
      @include text-label;
      font-weight: 500;
      margin-bottom: 0.5vw;
      span {
        color: $secondaryaccent-purple;
      }
    }

    .all-post-title {
      @include h4;
    }
  }
}
