@import "../../sassStyles/main";

.container {
  display: flex;
  flex-direction: column;

  .tabs {
    display: flex;
    height: 23px;
    cursor: pointer;

    #tab1,
    #tab2,
    #tab3 {
      transition: all 200ms ease;
      &:hover {
        transform: scaleY(1.3);
      }
    }

    .title {
      @include text-primary;
      font-weight: 700;
      background-color: $bgaccent-light-grey;
      width: 25%;

      &:nth-child(2) {
        background-color: $primaryaccent-yellow;
        width: 50%;
      }

      &:nth-child(3) {
        background-color: $secondaryaccent-purple;
        width: 25%;
      }
    }
  }

  .info-wrapper {
    @include give-flex-row(flex-start, flex-start);
    background-color: $bgaccent-lavander;
    padding: 6vw 5vw;
    gap: 5.125vw;

    .info {
      @include give-flex-column(flex-start, center);
      width: 50%;

      .info-subject {
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 600;
        letter-spacing: 0.188vw;
        margin-bottom: 1.5vw;
      }

      .info-title {
        @include h2;
        letter-spacing: -0.125vw;
        margin-bottom: 1vw;
      }

      .info-title-right {
        @include h3;
        margin-bottom: 1vw;
      }

      .info-description {
        @include text-primary;
        color: $bgaccent-grey;
        margin-bottom: 1vw;
      }

      .link-to {
        font-size: 1.125rem;
        line-height: 2vw;
        color: $secondaryaccent-purple;
        cursor: pointer;

        &:hover {
          filter: drop-shadow(2px 2px 15px black);
        }
      }
    }
  }
}
