@import "../src/Components/colors";
@import "../src/Components/textstyles";

ul,
ol {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

a {
  all: unset;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
}
