@import "../../sassStyles/main";

.about-us-container {
  @include give-flex-column(center, center);
  gap: 8vw;
  margin: 0 5vw;
  padding-top: 4vw;

  .drop-shadow {
    margin-left: 1vw;
    filter: drop-shadow(6px 6px 10px #000000);
  }

  .intro {
    padding: 0 1vw;
    .word-box {
      padding: 1vw;
      border-radius: 2px;
      border: 0;
      background-color: $primary-color;
      color: $white;
      box-shadow: 6px 6px 10px #000000;
    }
    h1 {
      margin-bottom: 2vw;
      span {
        @include h1;
        margin-bottom: 4vw;
      }
    }

    .main-wrp-about {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      .about-us-text {
        p {
          @include text-primary;
          margin: 1vw 0;
        }
        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  h2 {
    align-self: flex-start;

    .word-box {
      padding: 1vw;
      border-radius: 2px;
      border: 0;
      background-color: $primary-color;
      color: $white;
      box-shadow: 6px 6px 10px #000000;
    }
    span {
      @include h1;
      text-align: left;
    }
  }

  .staff-list {
    display: flex;
    flex-flow: row wrap;
    place-content: flex-start;
    align-items: stretch;
    gap: 2vw;
  }
}

//Tablet: 1200px
@media only screen and (max-width: $tablet) {
  .about-us-container {
    .intro {
      padding: 0 2vw;
    }

    .staff-list {
      flex-direction: column;
      .image-container {
        height: 50vw;
      }

      .player-text {
        width: 100%;
      }
    }
  }
}

//Tablet-small: 768px
@media only screen and (max-width: $tablet) {
  .about-us-container {
    .staff-list {
      gap: 6vw;
      .staff-card {
        flex-direction: column;
        align-items: center;

        .image-container {
          height: 100%;
        }

        .player-text {
          width: 50%;
        }
      }
    }
  }
}
