@import "../../sassStyles/main";

.about-us-container {
  @include give-flex-column(center, center);
  gap: 8vw;
  margin: 0 5vw;
  padding-top: 4vw;

  .intro {
    .word-box {
      padding: 1vw;
      border-radius: 2px;
      border: 0;
      background-color: $primary-color;
      color: $white;
      box-shadow: 6px 6px 10px #000000;
    }
    h1 {
      margin-bottom: 2vw;
      span {
        @include h1;
        margin-bottom: 4vw;
      }
    }

    .drop-shadow {
      margin-left: 1vw;
      filter: drop-shadow(6px 6px 10px #000000);
    }

    .main-wrp-about {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      .about-us-text {
        p {
          @include text-primary;
          margin: 1vw 0;
        }
        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  h2 {
    align-self: flex-start;

    .word-box {
      padding: 1vw;
      border-radius: 2px;
      border: 0;
      background-color: $primary-color;
      color: $white;
      box-shadow: 6px 6px 10px #000000;
    }
    span {
      @include h1;
      text-align: left;
    }
  }

  .staff-list {
    display: flex;
    flex-flow: row wrap;
    place-content: flex-start;
    align-items: stretch;
    gap: 2vw;
  }
}
