@import "../../sassStyles/main";

.contact-wrapper {
  @include give-flex-column(center, space-between);
  margin: 21vw 21vw 0 21vw;
  gap: 8vw;

  .contact-top {
    text-align: center;

    .contact-title {
      margin-bottom: 0.75vw;
    }

    .contact-subtitle {
      @include h1;
      letter-spacing: -2px;
      margin-bottom: 1.5vw;
    }

    .contact-text {
      @include text-primary;
      color: $bgaccent-grey;
    }
  }

  .company-info {
    @include give-flex-row(center, space-between);
    background-color: $secondaryaccent-purple;
    width: 100%;

    .inner-wrapper {
      margin: 3vw 4vw;
      width: 100%;
      align-self: baseline;

      .inner-title {
        @include give-flex-row(center, flex-start);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;

        p {
          @include text-secondary;
          color: $white;
          opacity: 0.6;
          padding-bottom: 1vw;
        }
      }

      .info-details {
        color: $white;
        margin-top: 1vw;
        h5 {
          @include h5;
        }
        p {
          @include text-primary;
          opacity: 0.6;
        }
      }
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-top: 2vw;
    width: 100%;

    .input,
    select {
      @include text-primary;
      background-color: transparent;
      border-radius: 2px;
      border: 1px solid rgba(109, 110, 118, 0.5);
      padding: 1.5vw;
    }
  }
  .btn-send-msg {
    @include h4;
    width: 100%;
    padding: 1.5vw;
  }
}

//Tablet-min: 768px
@media only screen and (max-width: 768px) {
  .company-info {
    flex-direction: column;

    .inner-wrapper {
      width: auto !important;
    }
  }
}
