@import "../../sassStyles/main";

.post-card-slider-container {
  @include give-flex-column(flex-start, center);
  position: relative;
  gap: 4rem;
  border-bottom: 1px solid rgba(109, 110, 118, 0.3);

  h2 {
    @include h2;
    letter-spacing: -2px;
  }

  .post-card-slider-inner-container {
    @include give-flex-row(flex-start, center);
    gap: 2rem;
    padding: 0 2rem;
  }

  .post-card-slider-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .prev,
    .next {
      @include h3;
      position: absolute;
      background: none;
      border: none;
      cursor: pointer;
      transition: all 200ms ease;

      &:hover {
        transform: scale(2);
      }
    }

    .prev {
      top: 20vw;
      left: 0;
    }

    .next {
      top: 20vw;
      right: 0;
    }

    .btn-disabled {
      @include h4;
      color: $bgaccent-grey;
    }
  }
}
